.mod_title,.mod_header,.mod_ctrl,.vg_pane.mod_subheader.hide-vg
{
      background:#003366;
}
.mod_header{
  background: #003366 !important;
  min-height: 45px;
  max-height: 45px;
}

.mod_body
{
    max-height: 70%;
}
/*class="mod_body spec vl-spec hide-vg ace_editor ace-tm"*/
